body {
    background-color: #000000;
    font-family: Arial;
}

.content {
    max-width: 900px;
    margin: auto;
    background: #ebebeb;
    padding: 5px;
    float: left;
    margin-left: 25%;
}

li {
    border: 0px;
    display: inline;
}

h1 {
    color: #505050;
    margin-left: 0px;
}

aside {
    background-color: #929292;
    float: right;
    right: 0px;
    width: 200px;
    height: 400px;
    border: 0px;
    padding: 5px;
}

p {
    color: #3d3d3d;
}

#image1 {
    float: left;
}

#section2 {
    float: left;
}

#section3 {
    float: left;
}